<!DOCTYPE html>
<html>
<head>
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<body>

<!-- Navbar goes here -->
<nav>
    <div class="nav-wrapper z-depth-6 blue darken-2">
        <a href="#!" class="brand-logo"> Trending Now</a>

        <ul class="right hide-on-med-and-down">

            <li><a href='#'><i class="mdi-action-search"></i></a></li>
            <li><a href="components.html"><i class="mdi-action-view-module"></i></a></li>
            <li><a href="javascript.html"><i class="mdi-navigation-refresh"></i></a></li>

        </ul>
    </div>
</nav>

<!-- Page Layout here -->
<div class="row">

    <div class="col s3">
        <!-- Grey navigation panel -->


    </div>

    <div class="col s9">
        <!-- Teal page content  -->

        <ul class="collection">
            {%for n in my_list %}
            <li class="collection-item avatar">
               <i class="mdi-communication-messenger circle green"></i>
                <span class="title">{{ n }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="large mdi-editor-mode-edit"></i>
    </a>
    <ul>
        <li><a class="btn-floating red"><i class="large mdi-social-whatshot"></i></a></li>
        <li><a class="btn-floating yellow darken-1"><i class="large mdi-editor-format-quote"></i></a></li>
        <li><a class="btn-floating green"><i class="large mdi-editor-publish"></i></a></li>
        <li><a class="btn-floating blue"><i class="large mdi-file-cloud-circle"></i></a></li>
    </ul>
</div>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js"></script>

</body>
</html>
